/*自定义主题css，主要对单个文件进行修改*/
/*css-border滑动*/
.border-slide-wrapper {
  text-align: center;
  margin: 15px;
}
.border-slide-wrapper .outwrap {
  position: relative;
}
.border-slide-wrapper .outwrap::before,
.border-slide-wrapper .outwrap::after {
  content: '';
  display: block;
  position: absolute;
  width: 0px;
  height: 2px;
  background: #ff9d9b;
  transition: 0.2s all linear;
}
.border-slide-wrapper .outwrap::before {
  top: 0px;
  left: 0px;
}
.border-slide-wrapper .outwrap::after {
  bottom: 0px;
  right: 0px;
}
.border-slide-wrapper .outwrap:hover::before,
.border-slide-wrapper .outwrap:hover::after {
  width: 100%;
}
.border-slide-wrapper .innerwrap {
  position: relative;
}
.border-slide-wrapper .innerwrap::before,
.border-slide-wrapper .innerwrap::after {
  content: '';
  display: block;
  position: absolute;
  width: 2px;
  height: 0px;
  background: #ff9d9b;
  transition: 0.2s all linear 0.2s;
}
.border-slide-wrapper .innerwrap::before {
  bottom: 0px;
  left: 0px;
}
.border-slide-wrapper .innerwrap::after {
  top: 0px;
  right: 0px;
}
.border-slide-wrapper .innerwrap:hover::before,
.border-slide-wrapper .innerwrap:hover::after {
  height: 100%;
}
.border-slide-wrapper .innerwrap h3 {
  padding: 20px;
  color: #ff7c79;
}
